<div class="nav-container">
  <div class="nav-title">
    <span class="color-green-dark">HOTLINE<span class="color-black">REPORT</span></span>
  </div>
  <div class="nav-options">
    <ng-content></ng-content>
  </div>
  <div class="nav-end">
    <div class="content-img">
      <img class="img-round" src="../../../assets/img/english.svg.png" width="30" height="30" alt="Language">
    </div>
    <div class="nav-user bg-green-dark">
        <button (click)="closeSession()" class="bg-green-dark">LA</button>
    </div>
  </div>
</div>