<mat-sidenav-container class="sidebar-example" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" position="end" disableClose>
        <app-add-project></app-add-project>     
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="admin-container">
            <div id="admin-main" class="bg-background">
                <app-nav-top>
                    <div [routerLink]="'../admin-home'" class="nav-option"><span>INCIDENTS</span></div>
                    <div class="nav-option"><span>USERS</span></div>       
                </app-nav-top>
               
                <hr class="bg-footer">
                <div class="container color-black">
                    <form class="example-form">
                        <div class="header grid-header">
                            <div>
                                <span>
                                    PROJECTS
                                </span>
                                
                                <select>
                                    <option disabled selected>ALL CENTERS</option>
                                    <option *ngFor="let status of statuses" [value]="status.pk">
                                        {{ status.name | uppercase }}
                                    </option>
                                </select>
                                
                                <input class="" type="text" placeholder="SEARCH"/>
                            </div>
                            <div>
                                <button type="button" class="btn-add bg-green-dark">ADD PROJECT</button>
                            </div>
                        </div>
                    </form>
                    <section class="example-container mat-elevation-z8 " tabindex="0">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container  matColumnDef="project">
                                <th mat-header-cell *matHeaderCellDef >PROJECT</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element">{{element.p_name | nulls}}</td>
                            </ng-container>     
                            <ng-container matColumnDef="season">
                                <th mat-header-cell *matHeaderCellDef>SEASON </th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element">{{element.p_season | nulls}}</td>
                            </ng-container>
                            <ng-container matColumnDef="center">
                                <th mat-header-cell *matHeaderCellDef>CENTER</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.center_name | nulls }} </td>
                            </ng-container>
                            <ng-container matColumnDef="location">
                                <th mat-header-cell *matHeaderCellDef>LOCATION</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.location_name | nulls}} </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>STATUS</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element"> <span class="bg-green">{{element.status | nulls}}</span></td>
                            </ng-container>
                            <ng-container matColumnDef="alias">
                                <th mat-header-cell *matHeaderCellDef>ALIAS</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.alias | nulls}} </td>
                            </ng-container>
                            <ng-container matColumnDef="assign">
                                <th mat-header-cell *matHeaderCellDef>ASSIGN</th>
                                <td style="text-align: center;" mat-cell *matCellDef="let element" >
                                    <ng-container *ngFor="let assing of element.assigns">
                                        <span class="img-text">{{assing.value_initials | uppercase}}</span>
                                    </ng-container>
                                    <!-- <div *ngIf="item[head.list].length > 2" class="box-img box-imgg-asset" >
                                        <div (mouseleave)="_gS.hidemenu()" (mouseenter)="onClickUser($event, item)">
                                            <span>+{{item[head.list].length - 2}}</span>
                                        </div>
                                    </div> -->
                                </td>
                                </ng-container>
                            <ng-container  matColumnDef="open_inc">
                                <th mat-header-cell *matHeaderCellDef>OPEN INC.</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.open_reports | nulls}} </td>
                            </ng-container>
                            <ng-container matColumnDef="closed_inc">
                                <th mat-header-cell *matHeaderCellDef>CLOSED INC.</th>
                                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.closed_reports | nulls}} </td>
                            </ng-container>
                            <ng-container matColumnDef="pk">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div style="text-align: center;" class="btn-option">
                                        <button style="background-color: white;" (click)="sidenav.open(); showDetails(element.pk)">
                                        <mat-icon aria-hidden="false" aria-label="comments" style="color: #3C9096;">drive_file_rename_outline</mat-icon>
                                    </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <footer id="footer" class="bg-footer">
            <div class="footer">
                <h3 class="color-title-footer">LEGAL TERMS | DATA POLICY</h3>
                <p>COPYRIGHT © 2022 GRUPO CINCOVEINTICINCO SAS. ALL RIGTHS RESERVED</p>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
