<app-add-project
    *ngIf="view == 'add-project'"
    (closePanel)="changeView('home')"
    (notify)="update()"
    [centers]="centers">
</app-add-project>
<app-add-project
    *ngIf="view == 'edit-project'"
    (closePanel)="changeView('home')"
    (notify)="update()"
    [project]="itemact"
    [centers]="centers">
</app-add-project>
<app-popup-general
    *ngIf="view == 'confirm-delete-project'"
    [title]="'Delete project'"
    [message]="'Are you sure to delete this project?'"
    [item]="this.selectedProject.p_name"
    (closePopup)="cancelDelete()"
    (confirmPopup)="deleteProject()">
</app-popup-general>

<div class="content">
    <app-nav-top>
        <div [routerLink]="'../admin-home'" class="nav-option"><span>INCIDENTS</span></div>
        <!-- <div class="nav-option"><span>USERS</span></div> -->
    </app-nav-top>
    <form>
        <div class="header-page">
            <div class="title-page">
                <span>PROJECTS</span>
            </div>
            <div class="contaner-filters">
                <div class="filters">
                    <mat-select class="filter" name="centers" [(ngModel)]="filters.centers" (ngModelChange)="filter()" placeholder="CENTERS" disableOptionCentering>
                        <mat-option [value]="null">ALL CENTERS</mat-option>
                        <mat-option *ngFor="let center of centers" [value]="center">
                            {{ center.center_name | uppercase }}
                        </mat-option>
                    </mat-select>
                    <div class="search-text filter final">
                        <input name="searchText" [(ngModel)]="filters.searchText" (ngModelChange)="filter()" type="text" placeholder="SEARCH"/>
                        <mat-icon>search</mat-icon>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" (click)="changeView('add-project')" class="save-button">ADD PROJECT</button>
            </div>
        </div>
    </form>
    <section class="table-container" tabindex="0">
        <table *ngIf="!loading" mat-table [dataSource]="filteredDataSource">
            <ng-container matColumnDef="production_company">
                <th mat-header-cell *matHeaderCellDef >Production Company</th>
                <td mat-cell *matCellDef="let element">{{element.production_company || '-' }}</td>
            </ng-container>
            <ng-container  matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef >PROJECT</th>
                <td mat-cell *matCellDef="let element">{{element.p_name | nulls }}</td>
            </ng-container>
            <ng-container  matColumnDef="abbreviation">
                <th mat-header-cell *matHeaderCellDef>ABBR.</th>
                <td mat-cell *matCellDef="let element">{{element.p_abbreviation || '-----' }}</td>
            </ng-container>
            <ng-container matColumnDef="season">
                <th mat-header-cell *matHeaderCellDef>SEASON </th>
                <td style="text-align: center;"  mat-cell *matCellDef="let element">{{element.p_season | nulls}}</td>
            </ng-container>
            <ng-container matColumnDef="center">
                <th mat-header-cell *matHeaderCellDef>CENTER</th>
                <td mat-cell *matCellDef="let element"> {{element.center_name | nulls }}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>LOCATION</th>
                <td mat-cell *matCellDef="let element"> {{element.location_name | nulls}} </td>
            </ng-container>
            <ng-container matColumnDef="alias">
                <th mat-header-cell *matHeaderCellDef>ALIAS</th>
                <td mat-cell *matCellDef="let element"> {{element.alias | nulls}} </td>
            </ng-container>
            <ng-container matColumnDef="assign">
                <th mat-header-cell *matHeaderCellDef>USERS</th>
                <td class="text-center" mat-cell *matCellDef="let element">
                    <ng-container *ngFor="let assing of element.assigns; index as i">
                        <span *ngIf="i < limitAsssign" class="img-text" (mousemove)="selectAssign($event, assing)" (mouseleave)="deselectAssing()">{{assing.initials | uppercase}}</span>
                    </ng-container>
                    <ng-container *ngIf="!element.assigns || !element.assigns.length">-</ng-container>
                    <span *ngIf="element.assigns.length > limitAsssign" class="img-text" (mousemove)="selectMoreAssign($event, element.assigns)" (mouseleave)="deselectAssing()">+{{element.assigns.length - limitAsssign}}</span>
                </td>
            </ng-container>
            <ng-container  matColumnDef="open_inc">
                <th mat-header-cell *matHeaderCellDef>OPEN INC.</th>
                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.open_reports | nulls}} </td>
            </ng-container>
            <ng-container matColumnDef="closed_inc">
                <th mat-header-cell *matHeaderCellDef>CLOSED INC.</th>
                <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.closed_reports | nulls}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef style="width: 10px;"></th>
                <td class="text-center" mat-cell *matCellDef="let element">
                    <mat-icon class="mat-icon-option" (click)="showDetails(element)">edit</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef style="width: 10px;"></th>
                <td class="text-center" mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="!element.open_reports && !element.closed_reports" class="mat-icon-option color-red" (click)="confirmDeleteProject(element)">delete</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div *ngIf="!filteredDataSource.length && !loading" class="no-data-found">NO DATA FOUND</div>
    </section>
</div>


<div *ngIf="_cS.showContext" class="context-menu uppercase" [style.left]="_cS.contextmenux" [style.top]="_cS.contextmenuy">
    <ng-container *ngIf="selectedAssign">{{selectedAssign.email}}</ng-container>
    <ng-container *ngIf="moreAssign.length">
        <ng-container *ngFor="let assing of moreAssign | slice:limitAsssign:moreAssign.length">
            {{assing.email}}<br>
        </ng-container>
    </ng-container>
</div>