<div class="panel-center">
  <mat-icon class="mat-icon-option color-black mat-icon-close" (click)="close()">close</mat-icon>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <ng-container *ngIf="!loading">
      <div class="panel-center-header">
        <h2>Merge project with</h2>
        <h3>{{project.p_name}}</h3>
      </div>
      <div class="panel-center-body">
        <form>

          <div class="L-6 M-6 S-12 columns">
            <label class="color-green-dark">{{'Country'}}</label>
            <mat-select name="country" formControlName="country" placeholder="Select option" disableOptionCentering>
              <mat-option *ngFor="let option of listProjects" [value]="option.code">
                <ng-container *ngIf="option.id !== project.id">
                  {{option.p_name}}
                </ng-container>
              </mat-option>
            </mat-select>
          </div>

          <div class="submit-form center">
            <button class="save-button">SAVE</button>
            <button type="button" class="cancel-button" (click)="close()">Cancel</button>
          </div>
        </form>
      </div>
    </ng-container>
</div>