<div class="panel-lateral-container" (click)="close()">
  <div class="panel-lateral" (click)="$event.stopPropagation()">
    <mat-icon class="mat-icon-option color-black mat-icon-close" (click)="close()">close</mat-icon>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <ng-container *ngIf="!loading">

      <div class="panel-lateral-header">
        <h2>{{project ? project.p_name : "New project"}}</h2>
      </div>

      <div class="panel-lateral-body">
        <form [formGroup]="form" (ngSubmit)="Save()">

					<div class="L-8 M-8 S-12 columns">
						<label class="color-green-dark">PROJECT NAME</label>
						<input name="p_name" formControlName="p_name" type="text" placeholder="Insert" required (ngModelChange)="dropResposeError()"/>
					</div>
					<div class="L-4 M-4 S-12 columns">
						<label class="color-green-dark">ABBREVIATION</label>
						<input name="p_abbreviation" formControlName="p_abbreviation" type="text" placeholder="Insert" required (ngModelChange)="dropResposeError()"/>
					</div>
					<div class="L-8 M-8 S-12 columns">
						<label class="color-green-dark">Production Company</label>
						<input name="company" formControlName="company" type="text" placeholder="Insert" required (ngModelChange)="dropResposeError()"/>
					</div>
					<div class="L-4 M-4 S-12 columns">
						<label class="color-green-dark">SEASON</label>
						<input name="p_season" formControlName="p_season" type="text" placeholder="Insert" (ngModelChange)="dropResposeError()"/>
					</div>
					<div class="L-6 M-6 S-12 columns">
						<label class="color-green-dark">CENTER</label>
						<mat-select name="center_id" formControlName="center_id" placeholder="Insert" required disableOptionCentering (ngModelChange)="dropResposeError()">
							<mat-option *ngFor="let center of centers" [value]="center.id">
								{{ center.center_name | uppercase }}
							</mat-option>
						</mat-select>
					</div>
					<div class="L-6 M-6 S-12 columns">
						<label class="color-green-dark">LOCATION</label>
						<input name="location_name" formControlName="location_name" type="text" placeholder="Insert" (ngModelChange)="dropResposeError()"/>
					</div>

					<h2 class="color-green-dark">{{'Alias'}}</h2>
					<div class="L-10 M-10 S-12 columns">
						<input name="alias" formControlName="alias" type="text" placeholder="Insert" (ngModelChange)="dropResposeError()"/>
					</div>
					<div class="L-2 M-2 S-12 columns">
						<button type="button" (click)="addAlias()" class="save-button">ADD</button>
					</div>
					<div class="L-12 M-12 S-12 columns" formArrayName="aliases">
						<div class="item-form-array" *ngFor="let alias of aliases.controls; let i=index">
							<mat-icon class="mat-icon-option color-red" (click)="deleteAlias(i)">delete</mat-icon>
							<span id="alias-{{ i }}">{{aliases.controls[i].value}}</span>
						</div>
					</div>

					<h2 class="color-green-dark">{{'Project users'}}</h2>
					<div class="L-10 M-10 S-12 columns">
						<label class="color-green-dark">EMAIL</label>
						<input name="users" formControlName="users" type="token" placeholder="Email" (ngModelChange)="dropResposeError()">
					</div>
					<div class="L-2 M-2 S-12 columns">
						<br>
						<button type="button" (click)="addCorreos()" class="save-button">ADD</button>
					</div>
					<div class="L-12 M-12 S-12 columns" formArrayName="correos">
						<div class="item-form-array" *ngFor="let correo of correos.controls; let i=index">
							<mat-icon class="mat-icon-option color-red" (click)="deleteCorreos(i)">delete</mat-icon>
							<span id="alias-{{ i }}">{{correos.controls[i].value}}</span>
						</div>
					</div>

					<div class="error-email-container">
						<p *ngFor="let error of errorResponse" class="errors-email response-error">{{error.msg_eng}}</p>
					</div>

          <div class="submit-form">
            <button class="save-button" [disabled]="form.invalid">SAVE</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>