<div class="sidenav-lateral">
	<div class="bg-green">
		<div class="example-button-container">
			<button mat-fab  class="bg-green" aria-label="Example icon button with a delete icon">
			  <mat-icon>close</mat-icon>
			</button>
		</div>
	</div>
	<div class="sidenav-grid-header bg-green">
		<div>
			<div>
			<!-- {{itemact.p_name}}
 -->			
 			<h1>hola</h1>
			</div>
		</div>
		
	</div>
	<div class="sidenav-container">
      <div class="sidenav-grid-project">
          <div>
              <h3 class="color-green-dark">PROJEC NAME</h3>
			  <input class="add-insert-name" type="text" placeholder="Insert"/>         
			 </div>
          <div>
              <h3 style="margin-left: -80%;" class="color-green-dark">SEASON</h3>
              <input class="add-insert-season" type="text" placeholder="Insert"/>
          </div>
      </div>
      <div class="sidenav-grid-center ">
          <div >
              <h3 class="color-green-dark">CENTER</h3>
              <select class="dropdown-center">
				<option  disabled selected>Select</option>
			</select>
          </div>
          <div>
              <h3 style="margin-left: -130%;" class="color-green-dark">LOCATION</h3>
			  <select class="drpdown-location">
				<option  disabled selected>Select</option>
			</select>
          </div>
          
      </div>
      <div class="sidenav-grid-incidentType">
          <div>
              <h3 style="font-size: 1.3rem; margin-bottom: -7px" class="color-green-dark">ALIAS</h3>
			  <hr style="height: 1px; background-color: #11888c;" class="sidenav-hr">
			  <input class="add-insert-name" type="text" placeholder="Insert"/><button type="button" class="btn-add bg-green-dark add-button">ADD </button>
     
  			</div>
		</div>
		<div class="sidenav-grid-incidentType">
			<div>
				<h3 style="font-size: 1.3rem; margin-bottom: -7px" class="label-user color-green-dark">USERS</h3>
				<hr style="height: 1px; background-color: #11888c;" class="sidenav-hr">
				<h3 style="font-size: 0.8rem; margin-top: -10px;" class="label-user color-green-dark">EMAIL</h3>
				<input class="add-insert-name" type="text" placeholder="Insert"/><button type="button" class="btn-add bg-green-dark add-button">ADD </button>
	   
				</div>
		  </div>
		  <hr style="height: 1px; background-color: #8e9191;" class="sidenav-hr">
		 <button type="button" class="btn-add bg-green-dark save-button">SAVE</button>
	</div>
</div>
