.panel-lateral-body h2 {
  border-bottom: 1px solid var(--green-dark);
}

.columns .save-button {
  margin: 0;
  width: 100%;
}

.item-form-array {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--dark-grey);
  float: left;
  margin-right: 20px;
}