.popup-general-container{
	position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  align-items: center;
	justify-content: center;
}
.popup-general{
	width: 400px;
  background: var(--background);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 1px -2px #0003, 0 5px 2px #00000024, 0 5px 5px #0000001f;
}
p {
  margin: 10px 0;
}