#admin-container {
    height: 100%;
}
#admin-main {
    padding-bottom: 70px;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.container {
    margin: 1%;
    height: 100%;
}

.table-container {
    height: calc(100% - 120px);
    overflow: auto;
    display: block;
}
.btn-add {
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
table {
    width: 100%;
    background-color: white;
    border: 1px solid;
}
table td {
    border: 1px solid;
    padding: 5px 8px;
    font-size: 12px;
    letter-spacing: 0;
    max-width: 200px;
    height: auto;
    cursor: pointer;
}
table th {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    color: #2B2B2B;
    font-weight: bold;
}
.btn-option button {
    width: 100%;
    margin-bottom: 3px;
    border: none;
    padding: 1px;
    cursor: pointer;
    font-weight: bold;
}
.btn-option button:hover {
    opacity: 0.6;
}
.header {
    display: inline-block;
}
.header span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}
select {
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
input {
    width: 150px;
    height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 5px;
}
mat-form-field {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.grid-header {
    display: grid;
    grid-template-columns: auto 120px;
}

table td.commets{
    text-align: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}
table td.commets span{
    background-color: var(--green-dark);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}