#admin-container {
    min-height: 100%;
}
#admin-main {
    overflow: auto;
    padding-bottom: 70px;
    height: 780px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.container {
    margin: 1%;
}
.btn-add {
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5%;
}
table {
    margin-top: 12px;
    width: 100%;
    background-color: white;
    border: 1px solid;
}
table td {
    border: 1px solid;
    padding: 5px 8px;
    font-size: 12px;
    letter-spacing: 0;
    max-width: 200px;
    height: auto;
    cursor: pointer;
}
table th {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    color: #2B2B2B;
    font-weight: bold;
}
.btn-option button {
    width: 100%;
    margin-bottom: 3px;
    border: none;
    padding: 1px;
    cursor: pointer;
    font-weight: bold;
}
.btn-option button:hover {
    opacity: 0.6;
}
.header {
    display: inline-block;
}
.header span {
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
}
select {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}
input {
    width: 250px;
    height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 5px;
}
mat-form-field {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.grid-header {
    display: grid;
    grid-template-columns: 93% 7%;
}

table td.commets{
    text-align: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}
table td.commets span{
    background-color: var(--green-dark);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.sidebar-example {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mat-drawer {
    width: 40%;
}
.sidenav-grid-header {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px 20px 20px 20px;
    height: 3%;
}
.sidenav-header-btn {
    width: 75px;
}
.example-button-container {
    padding: 10px;
}
.example-button-container button {
    border: none;
}
.sidenav-container {
    margin: 5%;
}
.sidenav-container h3 {
    font-size: 12px;
    margin-bottom: 2px;
}
.sidenav-container span {
    font-size: 13px;
}
.sidenav-container p {
    margin-top: 5px;
    font-size: 13px;
    text-align: justify;
}
.sidenav-grid-status {
    display: grid;
    grid-template-columns: 18% 18% 18% 24% 18%;
    height: auto;
}
.sidenav-hr {
    margin-top: 8px;
    margin-bottom: 15px;
    width: 100%;
    height: 0;
}
.sidenav-grid-center {
    display: grid;
    grid-template-columns: 18% 36% 42%;
    height: auto;
}
.sidenav-grid-incidentType {
    display: grid;
    grid-template-columns: 54% 23% 23%;
    height: auto;
}