<mat-sidenav-container class="sidebar-example" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" position="end" disableClose>
        <div class="bg-orange-lite">
            <div class="example-button-container">
                <button mat-fab (click)="close()" class="bg-orange-lite" aria-label="Example icon button with a delete icon">
                  <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="sidenav-grid-header bg-orange-lite">
            <div>
                <div>
                    <h1>#12JG12MM</h1>
                </div>
            </div>
            <div class="btns-close-reply">
                <button class="sidenav-header-btn bg-black" style="margin-left: 20px;">REPLY</button>
                <button class="sidenav-header-btn bg-black" style="margin-left: 10px;" >CLOSE</button>
            </div>
        </div>
        <div class="sidenav-container">
            <div class="sidenav-grid-status">
                <div>
                    <h3 class="color-green-dark">STATUS</h3>
                    <span>New</span>
                </div>
                <div>
                    <h3 class="color-green-dark">DATE REPORT</h3>
                    <span>May 25 2021</span>
                </div>
                <div>
                    <h3 class="color-green-dark">METHOD</h3>
                    <span>Online</span>
                </div>
                <div>
                    <h3 class="color-green-dark">REPORTER</h3>
                    <span>Anonymous</span>
                </div>
                <div>
                    <h3 class="color-green-dark">NOTIFICATIONS</h3>
                    <span>Allowed</span>
                </div>
            </div>
            <hr class="sidenav-hr">
            <div class="sidenav-grid-center">
                <div>
                    <h3 class="color-green-dark">CENTER</h3>
                    <span>Brasil</span>
                </div>
                <div>
                    <h3 class="color-green-dark">PROJECT</h3>
                    <span>Amazonia S1</span>
                </div>
                <div>
                    <h3 class="color-green-dark">POSITION ON PRODUCTION</h3>
                    <span>Current Production Staff Or Crew</span>
                </div>
            </div>
            <hr class="sidenav-hr">
            <div class="sidenav-grid-incidentType">
                <div>
                    <h3 class="color-green-dark">INCIDENT TYPE</h3>
                    <span>Hostile Work Environment</span>
                </div>
                <div>
                    <h3 class="color-green-dark">DATE INCIDENT</h3>
                    <span>May 25 2021</span>
                </div>
                <div>
                    <h3 class="color-green-dark">LOCATION INCIDENT</h3>
                    <span>Lorem Ipsum Dolor</span>
                </div>
            </div>
            <hr class="sidenav-hr">
            <div class="sidenav-incident-description">
                <h3 class="color-green-dark">INCIDENT</h3>
                <p>
                    Ut eu eiusmod consequat eiusmod cillum eiusmod. Sint sunt nisi aliquip exercitation amet. Adipisicing adipisicing sit Lorem exercitation amet commodo aute est adipisicing anim quis mollit proident ad. Consequat esse fugiat proident esse esse duis nulla sint irure dolor cillum id incididunt sint.
                    Ut eu eiusmod consequat eiusmod cillum eiusmod. Sint sunt nisi aliquip exercitation amet. Adipisicing adipisicing sit Lorem exercitation amet commodo aute est adipisicing anim quis mollit proident ad. Consequat esse fugiat proident esse esse duis nulla sint irure dolor cillum id incididunt sint.
                    Ut eu eiusmod consequat eiusmod cillum eiusmod. Sint sunt nisi aliquip exercitation amet. Adipisicing adipisicing sit Lorem exercitation amet commodo aute est adipisicing anim quis mollit proident ad. Consequat esse fugiat proident esse esse duis nulla sint irure dolor cillum id incididunt sint.
                </p>
            </div>
            <hr class="sidenav-hr">
            <div class="sidenav-people-involved">
                <h3 class="color-green-dark">PEOPLE INVOLVED IN THE INCIDENT</h3>
                <p>
                    Ut eu eiusmod consequat eiusmod cillum eiusmod. Sint sunt nisi aliquip exercitation amet. Adipisicing adipisicing sit Lorem exercitation amet commodo aute est adipisicing anim quis mollit proident ad. Consequat esse fugiat proident esse esse duis nulla sint irure dolor cillum id incididunt sint.
                </p>
            </div>
            <div class="sidenav-grid-discussed">
                
            </div>
            <div class="sidenav-responses">
                
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="admin-container">
            <div id="admin-main" class="bg-background">
                <div class="nav">
                    <ul>
                        <div class="grid-nav">
                            <div>
                                <li class="nav-title">
                                    <span class="color-black">ONE<span class="color-green-dark">HOTLINE</span></span>
                                </li>
                            </div>
                            <div>
                                <span class="nav-link">
                                    <li>
                                        <a [routerLink]="">USERS</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="">CENTERS</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="">PROJECTS</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="">INCIDENTS</a>
                                    </li>
                                </span>
                            </div>
                            <div>
                                <li>
                                    <img class="img-round" src="../../../assets/img/english.svg.png" width="36" height="36" alt="Language">
                                </li>
                                <li class="nav-user bg-green-dark">
                                    <button class="bg-green-dark">LA</button>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <hr class="bg-dark-grey">
                <div class="container color-black">
                    <form class="example-form">
                        <div class="header grid-header">
                            <div>
                                <span>
                                    INCIDENTS
                                </span>
                                <select>
                                    <option disabled selected>ALL STATUSES</option>
                                    <option *ngFor="let status of statuses" [value]="status.pk">
                                        {{ status.name | uppercase }}
                                    </option>
                                </select>
                                <select>
                                    <option disabled selected>ALL TYPES</option>
                                    <option *ngFor="let status of statuses" [value]="status.pk">
                                        {{ status.name | uppercase }}
                                    </option>
                                </select>
                                <select>
                                    <option disabled selected>ALL CENTERS</option>
                                    <option *ngFor="let status of statuses" [value]="status.pk">
                                        {{ status.name | uppercase }}
                                    </option>
                                </select>
                                <select>
                                    <option disabled selected>ALL PROJECTS</option>
                                    <option *ngFor="let status of statuses" [value]="status.pk">
                                        {{ status.name | uppercase }}
                                    </option>
                                </select>
                                <input type="text" placeholder="SEARCH"/>
                            </div>
                            <div>
                                <button type="button" class="btn-add bg-green-dark">ADD INCIDENT</button>
                            </div>
                        </div>
                    </form>
                    <section class="example-container mat-elevation-z8" tabindex="0">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>STATUS</th>
                                <td (click)="sidenav.open(); showDetails(element.pk)" mat-cell *matCellDef="let element"><span class="bg-yellow">{{element.status}}</span></td>
                            </ng-container>
                            <ng-container matColumnDef="incidentType">
                                <th mat-header-cell *matHeaderCellDef>INCIDENT TYPE</th>
                                <td (click)="sidenav.open(); showDetails(element.pk)" mat-cell *matCellDef="let element"><span class="bg-orange">{{element.incidentType}}</span></td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>DATE</th>
                                <td (click)="sidenav.open(); showDetails(element.pk)" mat-cell *matCellDef="let element"> {{element.date | date: 'mediumDate' }} </td>
                            </ng-container>
                            <ng-container matColumnDef="project">
                                <th mat-header-cell *matHeaderCellDef>PROJECT</th>
                                <td (click)="sidenav.open(); showDetails(element.pk)" mat-cell *matCellDef="let element"> {{element.project}} </td>
                            </ng-container>
                            <ng-container matColumnDef="incident">
                                <th mat-header-cell *matHeaderCellDef>INCIDENT</th>
                                <td (click)="sidenav.open(); showDetails(element.pk)" mat-cell *matCellDef="let element"> {{element.incident}} </td>
                            </ng-container>
                            <ng-container matColumnDef="assign">
                                <th mat-header-cell *matHeaderCellDef>ASSIGN</th>
                                <td mat-cell *matCellDef="let element" (click)="sidenav.open(); showDetails(element.pk)">
                                    <ng-container *ngFor="let assing of element.assigns">
                                        <span class="img-text">{{assing.value_initials | uppercase}}</span>
                                    </ng-container>

                                    <!-- <div *ngIf="item[head.list].length > 2" class="box-img box-imgg-asset" >
                                        <div (mouseleave)="_gS.hidemenu()" (mouseenter)="onClickUser($event, item)">
                                            <span>+{{item[head.list].length - 2}}</span>
                                        </div>
                                    </div> -->
                                </td>
                                </ng-container>
                            <ng-container matColumnDef="comments">
                                <th mat-header-cell *matHeaderCellDef>COMMENTS</th>
                                <td class="commets" mat-cell *matCellDef="let element" (click)="sidenav.open(); showDetails(element.pk)">
                                    <mat-icon aria-hidden="false" aria-label="comments">forum</mat-icon>
                                    <span>{{element.comments ? element.comments.length : 0}}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="pk">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div class="btn-option">
                                        <button class="bg-background" (click)="replyIncident(element.pk)">
                                            REPLY
                                        </button>
                                    </div>
                                    <div class="btn-option">
                                        <button class="bg-green-dark" (click)="closeIncident(element.pk)">
                                            CLOSE
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
        <footer id="footer" class="bg-footer">
            <div class="footer">
                <h3 class="color-title-footer">LEGAL TERMS | DATA POLICY</h3>
                <p>COPYRIGHT © 2022 GRUPO CINCOVEINTICINCO SAS. ALL RIGTHS RESERVED</p>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
