<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading && !openToken" class="content">
    <div class="login-container">
        <div class="title">
            <h1 class="color-black">ONE<span class="color-green-dark">HOTLINE</span></h1>
        </div>
        <div class="subtitle">
            <h2 class="color-black">ADMIN MODULE</h2>
        </div>
        <div class="login-form">
            <form [formGroup]="formToken" (ngSubmit)="sendEmail()">
                <div class="form-section color-green-dark">
                    <label for="email">E-MAIL</label>
                </div>
                <div class="form-section">
                    <input name="email" formControlName ="email" class="form-input" type="email"  placeholder="EMAIL">
                </div>
                    <mat-error *ngIf="errorRequest">{{errorRequest}}</mat-error>
                    <mat-error *ngIf="fToken['email'].getError('required') != null">Required Field</mat-error>
                    <mat-error *ngIf="fToken['email'].getError('pattern') != null">Please enter a valid email</mat-error>
                <div class="form-section btn-request">
                    <button class="bg-green-dark" type="submit" [disabled]="!formToken.valid">REQUEST TOKEN</button>
                </div>
            </form>
            <div class="login-link">
                <a href="" class="color-green-dark">PRESS HERE IF YOU HAVE ALREADY HAVE A TOKEN</a>
            </div>
        </div>
    </div>
</div>
<app-login *ngIf="openToken && !loading" (sendToken)="sendToken($event)">{{errorRequest}}</app-login>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/request-token.js"></script>