<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="content">
    <div class="login-container">
        <div class="title">
            <h1 class="color-black">ONE<span class="color-green-dark">HOTLINE</span></h1>
        </div>
        <div class="subtitle">
            <h2 class="color-black">ADMIN MODULE</h2>
        </div>
        <div class="login-form">
            <form [formGroup]="formEmail" (ngSubmit)="sendEmail()">
                <div class="form-section color-green-dark">
                    <label for="email">E-MAIL</label>
                </div>
                <div class="form-section">
                    <input name="email" formControlName="email" class="form-input" type="email" placeholder="EMAIL" (ngModelChange)="errorResponse = ''">
                </div>
                <mat-error *ngIf="errorResponse">{{errorResponse}}</mat-error>
                <div class="form-section btn-request">
                <button class="bg-green-dark" type="submit" [disabled]="formEmail.invalid">REQUEST TOKEN</button>
            </div>
            </form>
            <div class="login-link">
                <a [routerLink]="['..', 'login']" class="color-green-dark">PRESS HERE IF YOU ALREADY HAVE A TOKEN</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/request-token.js"></script>