* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

:root {
  --background: #EFEFEF;
  --yellow: #f6fa8f;
  --blue-dark: #3E82D8;
  --blue: #A2DDE2;
  --green: #95f5a3;
  --red: #ed4079;
  --purple: #a74bc7;
  --dark-grey: #707070;
  --black-light: #434343;
  --black: #2B2B2B;
  --white: #FFFFFF;
  --orange: #fcce79;
  --orange-lite: #fcce79;
  --yellow: #FCF76E;
  --pink: #EFCAEA;
  --green-dark: #11888c;
  --web-grey: #E0E0E0;
  --font-title: 0.7em;
  --font-value: 1.3em;
  --font-secondary: 0.6875em;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 70px;
  height: 720px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

#footer {
  position: relative;
  height: 70px;
  clear: both;
}

div {
  box-sizing: border-box;
}

.content {
  margin: 12% 35% 10% 35%;
}

.bg-footer {
  background-color: var(--white) !important;
}

.bg-background {
  background-color: var(--background);
  color: var(--black);
}

.bg-green-dark {
  background-color: var(--green-dark) !important;
  color: var(--white) !important;
}

.bg-yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.bg-orange {
  background-color: var(--orange);
  color: var(--black);
}

.bg-orange-lite {
  background-color: var(--orange-lite);
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-green {
  background-color: var(--green);
}

.footer {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.footer h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer p {
  color: var(--dark-grey) !important;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 7px;
}

.color-title-footer {
  color: var(--green-dark) !important;
}

.color-subtitle {
  color: var(--dark-grey) !important;
}

.color-black {
  color: var(--black) !important;
}

.color-grey {
  color: var(--dark-grey) !important;
}

.color-green-dark {
  color: var(--green-dark) !important;
}

.bg-green-dark {
  background-color: var(--green-dark) !important;
  color: var(--white) !important;
}



.bg-dark-grey {
  background-color: var(--dark-grey) !important;
}

.bg-white {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.h3 {
  color: rgb(142, 141, 141);
  margin-top: 30px;

}

.title {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.btn button:hover {
  opacity: 0.6;
}

.form {
  margin-top: 40px;
}

.form label {
  font-size: 14px;
  font-weight: bold;
}

.form-block {
  display: block;
  margin-top: 10px;
}

.form-input {
  width: 100%;
  padding: 15px 0px 15px 0;
  text-align: center;
  font-size: 15px;
}

.btn-request button {
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding: 15px 0px 15px 0;
}

.btn-request button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn a {
  text-decoration-line: none;
}

.link {
  margin-top: 18px;
  font-size: 14px;
  font-weight: bold;
}

.link a {
  text-decoration-line: none;
  cursor: pointer;
}

.p-text {
  margin: 2px 0 2px 0;
}

.p-text p {
  text-align: center;
  font-size: 17px;
  margin-bottom: 2px;
}

.swal-title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.swal-text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

hr {
  height: 3px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

.close-button {
  border: none;
  margin-bottom: 6px;
}

button:hover {
  opacity: 0.5;
}

button:disabled {
  filter: opacity(0.5);
}

table .img-text {
  background-color: var(--green-dark);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  flex-wrap: wrap;
  margin-right: -3px;
  color: var(--white);
  border: 1px solid #ffffff;
}

.text-center {
  text-align: center;
}

.nav-container .nav-option {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}

.nav-container .nav-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--green-dark);
}

.textcelda {
  text-align: center;
}

.mat-drawer.mat-drawer-end {
  width: 720px;
}

.left-modal {
  /*   position: fixed;
  z-index: 200;
  width: 40%;
  background-color: white;
  height: 100%;
  margin: 0px;
  right: 0px;
  top: 0px;
  padding: 6px;
  box-shadow: -6px 0px 3px 0px rgba(0, 0, 0, 0.27);
  overflow-y: auto; */
  padding: 10%;
}



.mat-drawer {
  width: 40%;
}

.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.sidenav-lateral {
  color: var(--dark-grey);
  text-transform: uppercase;
}

.sidenav-lateral .sidenav-header-btn {
  width: 75px;
  font-size: 11px;
  padding: 3px;
  margin: 3px;
  border: none;
}

.sidenav-lateral .example-button-container {
  padding: 10px;
}

.example-button-container button {
  border: none;
}

.sidenav-lateral .sidenav-container {
  margin: 5%;
}

.sidenav-lateral .sidenav-container h3 {
  font-size: 12px;
  margin-bottom: 2px;
}

.sidenav-lateral .sidenav-container span {
  font-size: 13px;
}

.sidenav-lateral .sidenav-container p {
  margin-top: 5px;
  font-size: 13px;
  text-align: justify;
}

.sidenav-lateral .sidenav-grid-status {
  display: grid;
  grid-template-columns: 18% 18% 18% 24% 18%;
  height: auto;
}

.sidenav-lateral .sidenav-hr {
  margin-top: 8px;
  margin-bottom: 15px;
  width: 100%;
  height: 0;
}

.sidenav-lateral .sidenav-grid-center {
  display: grid;
  grid-template-columns: 100% 36% 42%;
  height: auto;
}

.sidenav-lateral .sidenav-grid-incidentType {
  display: grid;
  grid-template-columns: 100% 23% 23%;
  height: auto;
}

.sidenav-lateral .sidenav-grid-project {
  display: grid;
  grid-template-columns: 100% 23% 23%;
  height: auto;
}

.add-insert-name {
  width: 40%;
  height: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.add-insert-alias {
  width: 77%;
  height: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.add-insert-abbreviation {
  width: 140%;
  height: 25px;
  margin-bottom: 10px;
  margin-left: -350px !important;
}

.add-insert-season {
  width: 60%;
  height: 25px;
  padding-left: 10px;
  margin-left: -177%;
}

.dropdown-center {
  width: 50% !important;
  height: 28px;
  padding-left: 10px;
  margin-bottom: 30px;
  color: #8b9293;
  border-style: solid;
  border-radius: 3px;
}

.dropdown-location {
  width: 118% !important;
  height: 28px;
  padding-left: 10px;
  margin-left: -130%;
  color: #8b9293;
  border-style: solid;
  border-radius: 3px;

}

.add-button {
  width: 15%;
  height: 18px;
  padding-left: 10px;
  margin-left: 3%;
  border: 0px
}

.label-user {
  grid-template-columns: 100% 80% 80%;
}

.save-button {
  width: 35%;
  height: 50px;
  padding-left: 10px;
  border: 0px;
  margin-left: 34%;
}

.tittle-add-project {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  margin-left: 5%;
}

#admin-container {
  height: calc(100% - 80px);
}

#admin-main {
  height: 100%;
  overflow: hidden;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.container {
  margin: 1%;
  height: 100%;
}

.table-container {
  max-height: calc(100% - 130px);
  overflow: auto;
  display: block;
  text-transform: uppercase;
}

table {
  width: 100%;
  background-color: white;
  border: 1px solid;
}

mat-select {
  width: 150px !important;
  height: 25px;
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 25px;
  background-color: #ffffff;
}

.mat-select-value {
  color: var(--black-light);
  padding: 6px;
}

.mat-select-panel {
  font-size: 11px !important;
}

.mat-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--green-dark);
}

.mat-error {
  display: block;
  text-transform: uppercase;
}

.no-data-found {
  padding: 30px;
  text-align: center;
}

/* .form_with_button .form_container {
  display: inline-block;
  width: calc(100% - 40px);
  padding-right: 3px;
  padding-left: 0px;
}

.form_with_button .form_container label {
  display: inline-block;
  padding-left: 2px;
  width: 100%;
}

.form_with_button .form_button {
  display: inline-block;
  float: right;
  width: 40px;
}

.form_with_button .form_button span {
  margin-top: 11px;
  display: block;
  width: 40px;
  height: 32px;
  background-image: url("../../Hotline-Fr-Admin/src/assets/img/assets.png");
  background-size: 1024px 1024px;
  background-position: -437px 0px;

}

.form_with_button .form_button span:hover {
  cursor: pointer;
  background-position: -397px 0px;
}

a.addContainer {
  display: inline-block;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 11px;
  border: dashed 1px rgb(220, 220, 220);
  color: rgb(100, 100, 100);
  padding-top: 6px;
  margin: 3px 0px;
}

a.addContainer:hover {
  cursor: pointer;
  color: rgb(25, 207, 249);
  border-color: rgb(25, 207, 249)
}

 */
@media screen and (max-width: 720px) {
  .mat-drawer.mat-drawer-end {
    width: 100%;
  }
}