* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

:root {
    --background: #EFEFEF;
    --yellow: #f6fa8f;
    --blue-dark: #3E82D8;
    --blue: #A2DDE2;
    --green: #A2E2A7;
    --red: #ed4079;
    --purple: #a74bc7;
    --dark-grey: #707070;
    --black-light: #434343;
    --black: #2B2B2B;
    --white: #FFFFFF;
    --orange: #FBBC60;
    --orange-lite: #F3C960;
    --yellow: #FCF76E;
    --pink: #EFCAEA;
    --green-dark: #3C9096;
    --web-grey: #E0E0E0;
    --font-title: 0.7em;
    --font-value: 1.3em;
    --font-secondary: 0.6875em;
}
#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 70px;
  height: 720px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

#footer {
  position: relative;
  height: 70px;
  margin-top: -70px;
  clear: both;
}

.content {
  margin: 12% 35% 10% 35%;
}

.bg-footer {
  background-color: var(--white) !important;
}

.bg-background {
  background-color: var(--background);
  color: var(--black);
}

.bg-green-dark {
  background-color: var(--green-dark) !important;
  color: var(--white) !important;
}
.bg-yellow {
    background-color: var(--yellow);
    color: var(--black);
}
.bg-orange {
    background-color: var(--orange);
    color: var(--black);
}
.bg-orange-lite {
    background-color: var(--orange-lite);
    color: var(--black);
}
.bg-black {
    background-color: var(--black);
    color: var(--white);
}
.footer {
  width: 100%;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10pt;
}

.footer h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer p {
  color: var(--dark-grey) !important;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 7px;
}

.color-title-footer {
  color: var(--green-dark) !important;
}

.color-subtitle {
  color: var(--dark-grey) !important;
}

.color-black {
  color: var(--black) !important;
}

.color-grey {
  color: var(--dark-grey) !important;
}

.color-green-dark {
  color: var(--green-dark) !important;
}

.bg-green-dark {
  background-color: var(--green-dark) !important;
  color: var(--white) !important;
}

.bg-dark-grey {
  background-color: var(--dark-grey) !important;
}

.bg-white {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.h3 {
  color: rgb(142, 141, 141);
  margin-top: 30px;

}

.title {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.btn button:hover {
  opacity: 0.6;
}

.form {
  margin-top: 40px;
}

.form label {
  font-size: 14px;
  font-weight: bold;
}

.form-block {
  display: block;
  margin-top: 10px;
}

.form-input {
  width: 100%;
  padding: 15px 0px 15px 0;
  text-align: center;
  font-size: 15px;
}

.btn-request button {
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  padding: 15px 0px 15px 0;
}

.btn-request button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn a {
  text-decoration-line: none;
}

.link {
  margin-top: 18px;
  font-size: 14px;
  font-weight: bold;
}

.link a {
  text-decoration-line: none;
  cursor: pointer;
}

.p-text {
  margin: 2px 0 2px 0;
}

.p-text p {
  text-align: center;
  font-size: 17px;
  margin-bottom: 2px;
}

.swal-title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.swal-text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

hr {
  height: 3px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}