<div class="content">
    <div class="title">
        <h1 class="color-black">ONE<span class="color-green-dark">HOTLINE</span></h1>
    </div>
    <div class="subtitle">
        <h2 class="color-black">ADMIN MODULE</h2>
    </div>
    <div class="btn">
        <a href="{{service_url}}login/getGoogleRoute"><button class="bg-green-dark">LOGIN WITH GOOGLE ACOUNT</button></a>
    </div>
    <div class="btn">
        <a [routerLink]="'request-token'" ><button class="btn bg-green-dark">LOGIN WITH OTHER EMAIL</button></a>
    </div>
</div>