<div class="content">
    <div class="login-container">
        <div class="title">
            <h1 class="color-black">ONE<span class="color-green-dark">HOTLINE</span></h1>
        </div>
        <div class="subtitle">
            <h2 class="color-black">{{'ADMIN MODULE' | translate}}</h2>
        </div>
        <div class="btn">
            <a href="{{service_url}}login/getGoogleRoute"><button class="bg-green-dark">{{'LOGIN WITH GOOGLE ACOUNT' | translate}}</button></a>
        </div>
        <div class="btn">
            <a [routerLink]="'request-token'"><button class="bg-green-dark">{{'LOGIN WITH OTHER EMAIL' | translate}}</button></a>
        </div>
    </div>
</div>